<h1>New User Added</h1>
<div>
    <p><strong>ID:</strong> {{user.id}}</p>
    <p><strong>First Name:</strong> {{user.firstName}}</p>
    <p><strong>Last Name:</strong> {{user.lastName}}</p>
    <p><strong>Gender:</strong> {{user.gender}}</p>
    <p><strong>Age:</strong> {{user.age}}</p>
    <p><strong>Timestamp:</strong> {{user.timestamp}}</p>
</div>


 